
/* SideBar */
.sidenav{
    float:left;
    height:100%;
    margin-top:1in;
    }

.sidenav a {
    text-decoration: none;
    color: gray;
    display: block;
    }

.sidenav a:hover{
    color: lightgray;
}

/* Right Side */
.right{
    margin-top:3cm;
    padding-top: 0px;
    }


/* Product List */
#productTable { 
    width: 100%; 
    border-collapse: collapse; 
}
    @media
    only screen and (max-width: 760px) {
    
        #productTable,  #productTable tbody, #productTable td,  #productTable tr { 
            display: block; 
        }
        
        #productHead tr { 
            display:none;
        }
        
        #productTable tr { border: 1px solid lightgray; }
       
        #productTable td:before { 
            left: 7px;
            padding-right: 10px; 
        }
        
        #productTable td:nth-of-type(3):before { content: "Product"; font-weight: bold;}
        #productTable td:nth-of-type(4):before { content: "Category"; font-weight: bold;}
        #productTable td:nth-of-type(5):before { content: "Quantity"; font-weight: bold;}
        #productTable td:nth-of-type(6):before { content: "Supplier"; font-weight: bold;}
        #productTable td:nth-of-type(7):before { content: "Price/Unit"; font-weight: bold;}
    }



