/* SideBar */
.sidenav{
    float:left;
    height:100%;
    margin-top:1in;
    }

.sidenav a {
    text-decoration: none;
    color: gray;
    display: block;
    }

.sidenav a:hover{
    color: lightgray;
}

/* Right Side */
.right{
    margin-top:3cm;
    padding-top: 0px;
    }


/* Product List */
#productTable { 
    width: 100%; 
    border-collapse: collapse; 
}
    @media
    only screen and (max-width: 760px) {
    
        #productTable,  #productTable tbody, #productTable td,  #productTable tr { 
            display: block; 
        }
        
        #productHead tr { 
            display:none;
        }
        
        #productTable tr { border: 1px solid lightgray; }
       
        #productTable td:before { 
            left: 7px;
            padding-right: 10px; 
        }
        
        #productTable td:nth-of-type(3):before { content: "Product"; font-weight: bold;}
        #productTable td:nth-of-type(4):before { content: "Category"; font-weight: bold;}
        #productTable td:nth-of-type(5):before { content: "Quantity"; font-weight: bold;}
        #productTable td:nth-of-type(6):before { content: "Supplier"; font-weight: bold;}
        #productTable td:nth-of-type(7):before { content: "Price/Unit"; font-weight: bold;}
    }

#UserTable { 
    width: 100%; 
    border-collapse: collapse; 
}
    @media
    only screen and (max-width: 760px) {
    
        #UserTable,  #UserTable tbody, #UserTable td,  #UserTable tr { 
            display: block; 
        }
        
        #UserHead tr { 
            display:none;
        }
        
        #UserTable tr { border: 1px solid lightgray; }
       
        #UserTable td:before { 
            left: 7px;
            padding-right: 10px; 
        }
        
        #UserTable td:nth-of-type(1):before { content: "Checkbox"; font-weight: bold;}
        #UserTable td:nth-of-type(2):before { content: "First Name"; font-weight: bold;}
        #UserTable td:nth-of-type(3):before { content: "Lat Name"; font-weight: bold;}
        #UserTable td:nth-of-type(4):before { content: "Gender"; font-weight: bold;}
        #UserTable td:nth-of-type(5):before { content: "Postal Code"; font-weight: bold;}
        #UserTable td:nth-of-type(6):before { content: "Email"; font-weight: bold;}
        #UserTable td:nth-of-type(7):before { content: "Password"; font-weight: bold;}
    }
/*  Order List */
#OrderTable { 
    width: 100%; 
    border-collapse: collapse; 
}
    @media
    only screen and (max-width: 760px) {
    
        #OrderTable,  #OrderTable tbody, #OrderTable td,  #OrderTable tr { 
            display: block; 
        }
        
        #OrderHead tr { 
            display:none;
        }
        
        #OrderTable tr { border: 1px solid lightgray; }
       
        #OrderTable td:before { 
            left: 7px;
            padding-right: 10px; 
        }
        #OrderTable td:nth-of-type(1):before { content: "Check"; font-weight: bold;}
        #OrderTable td:nth-of-type(2):before { content: "Order #"; font-weight: bold;}
        #OrderTable td:nth-of-type(3):before { content: "Purchased On"; font-weight: bold;}
        #OrderTable td:nth-of-type(4):before { content: "Bill to Name"; font-weight: bold;}
        #OrderTable td:nth-of-type(5):before { content: "Subtotal"; font-weight: bold;}
        #OrderTable td:nth-of-type(6):before { content: "Income"; font-weight: bold;}
    }




    
/*Edit Order Features*/
.directionOrder p{
    margin-top: 2cm;
    color: gray;
    border-bottom: 1px solid lightgray;
}

.directionOrder h2{
    color: black;
    font-style: italic;
}

.summaryOrder{
    padding: 10px;
    min-width: fit-content;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.summaryOrder .row{
    margin: 5px;
}






